// Biến màu sắc
$blue-1: #2a73dc;
$white: #ffffff;
$blue-2: #1e345e;
$yellow-1: #f9d310;

// Biến font-size
$fs-base: 16px;
$fs-lg: 20px;
$fs-xl: 24px;
$fs-2xl: 28px;
$fs-h1: 60px;

// Biến font-weight
$fw-normal: 400;
$fw-bold: 700;
$fw-extra-bild: 800;
